<body class="zodiacApp">
    <center>

        <br><br>
        <div class="ad">
            <!--  ad -->
            <div class="container container-fluid my-5 w-75 shadow-lg p-4 mb-4 m-5 pb-5 rounded mx-auto text-white"
                style="background-image: linear-gradient( 179.4deg, rgba(12,20,69,1) -16.9%, rgb(116, 43, 138) 119.9% ); font-family: Comic Sans MS;">
                <br>
                <br>
                <div class="row justify-content-center">
                    <div class="col-xs-12 w-100 h-100">
                        <p>Hello!!,&nbsp; {{FirstName}} {{LastName}}</p>
                        <p>{{Zname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{date}}</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xs-12 w-100 h-100">
                        <p>{{description}}</p>
                    </div>
                </div>
                <br>

            </div>
            <!--
            <div class="result mb-2">
                your score result
                <span class="span4"> Your score is </span>
            </div> -->
            <div class="share">
                <div class="mb-2">
                    <span class="span5"> Don't keep all the fun to yourself
                </div>
                <div class="mb-2">
                    <span class="span6">share this with your frnds</span>
                    </span>
                </div>
                <div class="mb-2">
                    <iframe
                        src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fentertaining--apps.herokuapp.com%2F&layout=button&size=large&appId=473078063552105&width=77&height=28"
                        width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
    </center>
</body>